plugin: amazon.aws.aws_ec2

regions:
  - ap-south-1

filters:
  instance-state-name: running

keyed_groups:
  - key: tags.Environment
    prefix: env

hostnames:
  - private-ip-address

compose:
  ansible_user: ec2-user

