---
- name: Install and configure nginx
  hosts: env_dev
  become: yes

  tasks:
    - name: Update apt cache
      apt:
       update_cache: yes
       cache_valid_time: 3600

    - name: Install nginx
      apt:
       name: nginx
       state: present

    - name: Start nginx
      service:
       name: nginx
       state: started
       enabled: yes

